body {
  margin: 0;
  padding: 0;
}
/* Header CSS */
.header-container {
  display: flex;
  flex-direction: column;
  height: 25vh;
  width: 100vw;
  border: 2px, black;
}
/* Homepage words */
.homepage-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Homepage text */
#homepage {
  display: flex;
  flex-direction: flex-end;
  justify-content: center;
  color: rgb(109, 94, 8);
  border: black solid 2px;
  font-size: 130px;
}
/* "The page for the home" text */
#homepage-two {
  display: flex;
  flex-direction: flex-end;
  justify-content: center;
  color: black;
  border: gold 2px;
  font-size: 50px;
}
/* Section containing the top three photos, text, and the learn more */
.features-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* styling for the buttons */
#interactive-button-date {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: gray;
  height: 40px;
  width: 200px;
}
/* Widebar area container */
.widebar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100vw;
  border:2px solid black;
  margin-top:5vh;
}
#widebar{
    font-size: 100px;
    display: flex;
}
/* container for the main content, holds left and right content containers */
.content-container{
  display: flex;
  flex-direction: row;
  height: 200vh;
  width: 100vw;

  border: 2px solid black;
}
/* Left side content */
.left-content-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 110vh;
  width: 50vw;
  border:2px solid gray
}
/* right side content */
.right-content-container{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: flex-start;
  height: 110vh;
  width: 30vw;
  border:2px solid gray
}

/* Footer CSS, universal */
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
}
/* Left side footer */
.left-footer-container {
  display: flex;
  flex-direction: column;
}
/* Name and email CSS */
.name-email-container {
  width: 20vw;
  display: flex;
  justify-content: space-evenly;
}
#name {
  width: 9.5vw;
}
#email {
  width: 9.5vw;
}
/* Message CSS */
#message {
  width: 20vw;
  height: 15vh;
  resize: none;
}
/* Right footer CSS */
.right-footer-container {
  display: flex;
  flex-direction: column;
  width: 60vw;
  justify-content: center;
  align-items: center;
}
/* targets all logos with paragraphs */
.logo-block {
  display: flex;
  flex-direction: row;
  width: 60vw;
  justify-content: space-evenly;
}
.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Target all logos specifically */
.logos {
  width: 2vw;
}
